doctype html
html
  head
    title=title
    meta(charset='utf-8')
    link(href='https://fonts.googleapis.com/css?family=Inconsolata', rel='stylesheet')
    link(rel="stylesheet", href="/vendor/alertify.css")
    link(rel='stylesheet', href='/font/typicons.min.css')
    link(rel='stylesheet', href='/dist/style.min.css')
    block head
  body.bg-main
    #main
      block content
    script(src='/vendor/alertify.js')
    block scripts
