extends layout

block content
  body#leaderboard
    section#main
      h1
        i.typcn.typcn-anchor
        | Leaderboard
      a(href='/')
        i.typcn.typcn-arrow-left-thick
        |  back to home page
      section.leaderboard
        table#table-leaderboard.spacy-table
          thead
            tr
              th(style='width:5%') #
              th(style='width:25%') Date
              th(style='width:50%') Name
              th(style='width:20%') Time
          tbody
            - var i = 1
            each score in scores
              tr
                td=i
                td=score.date
                td
                  case score.name.toLowerCase()
                    when "sophie"
                      <span class="pistachio">S</span><span>o</span><span class="pistachio">p</span><span>h</span><span class="pistachio">i</span><span>e</span>
                    default
                      =score.name
                  if i == 1
                    |&nbsp;
                    i.typcn.typcn-heart.medium.gold
                td=score.time + " ms"
              - i++
      footer
        a(href='http://github.com/leyka')
          h1.typcn.typcn-social-github
          |  just.for.fun.
